@import '../node_modules/antd/dist/antd.css';

body {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 25px
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 16px
}

p {
  font-size: 16px
}

 span {
  font-size: 16px
 }

.menu-tab {
  font-size: 14px
}

.collapse-tab {
  font-size: 15px
}

.airspace-submit-button {
  color: white !important;
  border-color: white !important;
  background-color: #FC588F !important;
}
.airspace-submit-button:hover {
  color: #FC588F !important;
  background-color: white !important;
  border-color: #FC588F !important;
}
.airspaceColor {
  color: #FC588F !important;
}

.wide-table {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.wide-button {
  width: 80%;
}

.rightAlign {
  float: right;
}

.inlineDisplay {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.page-nav-menu {
    border-bottom: 0
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: transparent;
}
